.task-card {
    border: 2px solid #dad5ff;
    background: #f8f5ff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.task-card:hover {
    border-color: #6a00ff;
    background: #efe8ff;
}