# Основні бібліотеки
fastapi
uvicorn
redis
aioredis
celery
setuptools

# База даних
sqlalchemy
alembic
psycopg2-binary   

# Аутентифікація
python-jose
pyjwt
python-multipart
passlib
bcrypt

# Утиліти
python-dotenv
httpx

# Тести
pytest