.header-meta {
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    color: #3c009d;
    margin-bottom: 12px;
}

.details-panel {
    flex: 1;
    background: #ffffffcc;
    padding: 20px;
    border-radius: 8px;
    overflow-y: auto;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.details-panel h2 {
    font-size: 32px;
    color: #3c009d;
    text-align: center;
    margin-bottom: 20px;
}

.task-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

.task-meta p {
    font-size: 18px;
    margin: 0;
}

.task-meta p strong {
    color: #3c009d;
    font-size: 20px;
    margin-right: 6px;
}

.metadata {
    margin-top: 5px;
    padding: 10px 10px;
    background: #b1b1dc;
    border-radius: 8px;
}

.param-section {
    margin-top: 10px;
    padding: 14px 18px;
    background: #b2b2ec;
    border-radius: 8px;
    margin-bottom: 15px;
}

.matrix-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-top: 25px;
}

.params {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    margin-top: 10px;
}

.matrix-box,
.vector-box {
    max-width: 400px;
    max-height: 280px;
    min-width: 100px;
    overflow: auto;
    border: 2px solid #d9caff;
    border-radius: 8px;
    background: #ffffff;
    padding: 6px;
}

.matrix-box table,
.vector-box table {
    border-collapse: collapse;
    width: 100%;
}

.matrix-box td,
.vector-box td {
    border: 1px solid #e2d4ff;
    padding: 6px 10px;
    text-align: center;
    font-size: 14px;
    color: #2e0066;
}

.matrix-box::before,
.vector-box::before {
    content: attr(data-title);
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
    color: #3c009d;
}

.btn-main {
    background: #4c00b4;
    color: #fff;
    padding: 10px 18px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: 0.2s;
}

.btn-main:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.btn-main:hover:not(:disabled) {
    background: #6a00ff;
}

.btn-grey {
    background: #eaeaea;
    color: #676767;
    padding: 10px 18px;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.btn-cancell {
    background: #d91741;
    color: #fff;
    padding: 10px 18px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: 0.2s;
}
