/* ===== Create Task Page ===== */
.create-form {
    max-width: 500px;
    margin: 80px auto;
    background: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.create-form h2 {
    color: #3c009d;
    font-size: 36px;
    margin-bottom: 25px;
}

.create-form input {
    width: 120px;
    padding: 8px;
    font-size: 18px;
    margin-left: 8px;
    border-radius: 6px;
    border: 1px solid #aaa;
}